Makefile
Makefile.in
/configure
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/depcomp
/install-sh
/missing
/mkinstalldirs

/stamp-h1

.deps

/intltool-extract.in
/intltool-merge.in
/intltool-update.in

/po/stamp-it
/po/POTFILES

*.o
/src/deskew

*~
.#*
